.header {
  font-size: 5vw;
  font-family: "lora";
  margin-top: 6vh;
  margin-left: 4vw;
  position: relative;
  color: #3e3e3e;
}

.title {
  font-size: 3vw;
  font-weight: 10;
  font-family: "lora";
  margin-top: 6vh;
  margin-left: 4vw;
  position: relative;
  color: #3e3e3e;
}

.content {
  font-size: 1.6vw;
  font-family: "Lora";
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1.6vw;
  margin-bottom: 6vh;
  color: rgb(119, 119, 119);
  font-weight: 10;
}

.horizontalLine {
  width: 80%;
  max-width: 21vw;
  height: 0.1vh;
  background-color: #000;
  margin-top: 1.5vw;
  margin-bottom: 1vh;
  margin-left: 4vw;
}
